In [131]:
import pandas as pd
import numpy as np

In [132]:
df = pd.read_csv('flight_data.csv')

In [133]:
df.head()

,price,airline,fare_class,depart_time,depart_date,arrival_time,arrival_date,src,dest,cabin_luggage,hand_luggage
0,2.826.000,VietnamAirlines VN 7550,Eco (L),09:15,24 th 6,11:15,24 th 6,Nha Trang CXR,Hà Nội HAN,23,12
1,2.189.000,VietJetAir VJ770,B1_ECO,08:00,24 th 6,09:50,24 th 6,Nha Trang CXR,Hà Nội HAN,0,7
2,1.648.000,VietnamAirlines VN 7560,Eco (E),23:50,24 th 6,01:50,25 th 6,Nha Trang CXR,Hà Nội HAN,23,12
3,1.854.000,VietJetAir VJ1770,J1_ECO,23:40,24 th 6,01:30,25 th 6,Nha Trang CXR,Hà Nội HAN,0,7
4,1.875.000,VietnamAirlines VN 7582,Eco (T),23:40,24 th 6,01:40,25 th 6,Nha Trang CXR,Hà Nội HAN,23,12

In [134]:
airline = df['airline'].tolist()
for i in range(len(airline)):
    # Only get the first word of the airline name
    airline[i] = airline[i].split()[0]
airline

df['airline'] = airline

src = df['src'].tolist()
for i in range(len(src)):
    src[i] = src[i].split()[-1]
src

df['src'] = src

dest = df['dest'].tolist()
for i in range(len(dest)):
    dest[i] = dest[i].split()[-1]
dest

df['dest'] = dest

In [135]:
df['fare_class'].unique()

array(['Eco (L)', 'B1_ECO', 'Eco (E)', 'J1_ECO', 'Eco (T)', 'Eco (R)',
       'Eco (N)', 'H1_ECO', 'Eco (Q)', 'J1_DLX', 'L1_ECO',
       'ECO SMART (H)', 'B1_DLX', 'Eco (K)', 'ECO FLEX (B)', 'H1_DLX',
       'Eco (H)', 'Eco (S)', 'L1_DLX', 'Q1_ECO', 'Eco (M)', 'Eco (B)',
       'Q1_DLX', 'V_SBoss', 'Y_SBoss', 'C_Boss', 'Business (D)',
       'Business (C)', 'BUSINESS FLEX (F)', 'Business (J)', 'U1_ECO',
       'U1_DLX', 'ECO SMART (K)', 'N1_ECO', 'N1_DLX', 'T1_ECO', 'T1_DLX',
       'BUSINESS SMART (I)', 'Business (I)', 'I1_ECO', 'I1_DLX', 'M1_ECO',
       'M1_DLX', 'BUSINESS SMART (C)', 'K1_ECO', 'K1_DLX', 'R1_ECO',
       'ECO FLEX (Y)', 'R1_DLX', 'ECO FLEX (W)', 'W1_ECO', 'W1_DLX',
       'S1_ECO', 'S1_DLX', 'Z1_ECO', 'Z1_DLX', 'ECO SMART (L)',
       'ECO SMART (M)', 'ECO SMART (N)', 'ECO SMART (Q)', 'ECO SMART (T)',
       'ECO SAVER MAX (R)', 'A1_ECO', 'ECO SAVER MAX (O)', 'E1_ECO',
       'O1_ECO', 'O1_DLX', 'E1_DLX', 'A1_DLX'], dtype=object)

In [136]:
price = df['price'].tolist()
for i in range(len(price)):
    price[i] = ''.join(filter(str.isdigit, price[i]))
    price[i] = int(price[i])

df['price'] = price

In [137]:
fare_class = df['fare_class'].tolist()   

economy = ['eco', 'dlx']

for i in range(len(fare_class)):
    if "eco" in fare_class[i].lower() or "dlx" in fare_class[i].lower():
        fare_class[i] = "economy"
    else:
        fare_class[i] = "business"

fare_class  
df['fare_class'] = fare_class

In [138]:
depart_time = df['depart_time'].tolist()
for i in range(len(depart_time)):
    depart_time[i] = depart_time[i].split(":")[0]
    if 6 <= int(depart_time[i]) < 12:
        depart_time[i] = "morning"
    elif 12 <= int(depart_time[i]) < 17:
        depart_time[i] = "afternoon"
    elif 17 <= int(depart_time[i]) < 22:
        depart_time[i] = "evening"
    else:
        depart_time[i] = "night"

depart_time
df['depart_time'] = depart_time

In [139]:
arrival_time = df['arrival_time'].tolist()
for i in range(len(arrival_time)):
    arrival_time[i] = arrival_time[i].split(":")[0]
    if 6 <= int(arrival_time[i]) < 12:
        arrival_time[i] = "morning"
    elif 12 <= int(arrival_time[i]) < 17:
        arrival_time[i] = "afternoon"
    elif 17 <= int(arrival_time[i]) < 22:
        arrival_time[i] = "evening"
    else:
        arrival_time[i] = "night"

arrival_time
df['arrival_time'] = arrival_time

In [140]:
for rows in range(0,len(df)):
    df.loc[rows, "depart_date"] = df.loc[rows, "depart_date"]+'-2024'
    df.loc[rows, "depart_date"] = df.loc[rows, "depart_date"].replace(' ','')
    df.loc[rows, "depart_date"] = df.loc[rows, "depart_date"].replace('th','-')
    df.loc[rows, "arrival_date"] = df.loc[rows, "arrival_date"]+'-2024'
    df.loc[rows, "arrival_date"] = df.loc[rows, "arrival_date"].replace(' ','')
    df.loc[rows, "arrival_date"] = df.loc[rows, "arrival_date"].replace('th','-')

In [141]:
d_date = []
a_date = []
for date in pd.to_datetime(df['depart_date'], format='%d-%m-%Y').dt.date:
    if len(pd.bdate_range(date,date).strftime('%d-%m-%Y')) == 0:
        d_date.append('weekend')
    else:
        d_date.append('week_day')
for date in pd.to_datetime(df['depart_date'], format='%d-%m-%Y').dt.date:
    if len(pd.bdate_range(date,date).strftime('%d-%m-%Y')) == 0:
        a_date.append('weekend')
    else:
        a_date.append('week_day')
df['d_date'] = pd.DataFrame(d_date)
df['a_date'] = pd.DataFrame(a_date)

In [142]:
df.head()

,price,airline,fare_class,depart_time,depart_date,arrival_time,arrival_date,src,dest,cabin_luggage,hand_luggage,d_date,a_date
0,2826000,VietnamAirlines,economy,morning,24-6-2024,morning,24-6-2024,CXR,HAN,23,12,week_day,week_day
1,2189000,VietJetAir,economy,morning,24-6-2024,morning,24-6-2024,CXR,HAN,0,7,week_day,week_day
2,1648000,VietnamAirlines,economy,night,24-6-2024,night,25-6-2024,CXR,HAN,23,12,week_day,week_day
3,1854000,VietJetAir,economy,night,24-6-2024,night,25-6-2024,CXR,HAN,0,7,week_day,week_day
4,1875000,VietnamAirlines,economy,night,24-6-2024,night,25-6-2024,CXR,HAN,23,12,week_day,week_day

In [143]:
df.to_csv('flight_data_cleaned.csv', index=False)